h1,p {
    font-size: 30px;
    text-align: center;
    margin: 80px;
    
}
body{
    background-color: azure;
    font-style: italic;
}
footer a {
    text-align: center;
    font-size: medium;
    color:rgb(255, 127, 202);
    margin: 0 10px;
}
.logo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;

}
footer{
    text-align: center;
}